<tr id={{@index}} data-pid={{id}}>
  <td scope="row">{{id}}</td>
  <td>{{product_name}}</td>
  <td id="price{{id}}">{{price_per_pound}}</td>
  <td>
    <select class="form-control" id="p{{id}}">
      <option value="0" selected disabled>Select Amount</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </td>
</tr>